streamlit
pandas
ChatOpenAI; python_version<'3.5'
create_engine; python_version<'3.5'
inspect; python_version<'3.5'
PromptTemplate; python_version<'3.5'
LLMChain; python_version<'3.5'
OpenAI; python_version<'3.5'
datetime
